.item-table {
    border-top: 10px;
    background-color:rgb(134, 189, 226);
    margin-left: 15%;
}

.container{
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color:rgb(91, 139, 141);
    border-radius: 10%;
}
.header {
    font-family: cursive;
    padding-left: 40%;
    
}
.forms{
    border-width: 2px;
    border-color: darkblue;
}